<div class="container " style="font-size: 20px;" >
    <div class="table-container">
      <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th>Code</th>
                <th>Letter</th>
            </tr>
        </thead>
      <tbody>
        <tr>
          <td>puss</td>
          <td>space</td>
      </tr>
      <tr>
        <td>*</td>
        <td>next word</td>
    </tr>
        <tr>
            <td>muwaa</td>
            <td>A</td>
        </tr>
        <tr>
            <td>meo</td>
            <td>B</td>
        </tr>
        <tr>
            <td>meong</td>
            <td>C</td>
        </tr>
        <tr>
            <td>miyu</td>
            <td>D</td>
        </tr>
        <tr>
            <td>meow</td>
            <td>E</td>
        </tr>
        <tr>
            <td>miaau</td>
            <td>F</td>
        </tr>
        <tr>
            <td>miaou</td>
            <td>G</td>
        </tr>
        <tr>
            <td>miau</td>
            <td>H</td>
        </tr>
        <tr>
            <td>miauw</td>
            <td>I</td>
        </tr>
        <tr>
            <td>ngiao1</td>
            <td>J</td>
        </tr>
        <tr>
            <td>miu1</td>
            <td>K</td>
        </tr>
        <tr>
            <td>miao</td>
            <td>L</td>
        </tr>
        <tr>
            <td>miaow</td>
            <td>M</td>
        </tr>
        <tr>
            <td>miyav</td>
            <td>N</td>
        </tr>
        <tr>
            <td>miav</td>
            <td>O</td>
        </tr>
        <tr>
            <td>ngiyaw</td>
            <td>P</td>
        </tr>
        <tr>
            <td>miyau</td>
            <td>Q</td>
        </tr>
        <tr>
            <td>meogre</td>
            <td>R</td>
        </tr>
        <tr>
            <td>mjau</td>
            <td>S</td>
        </tr>
        <tr>
            <td>niaou</td>
            <td>T</td>
        </tr>
        <tr>
            <td>myau</td>
            <td>U</td>
        </tr>
        <tr>
            <td>mjauu</td>
            <td>V</td>
        </tr>
        <tr>
            <td>ngiau</td>
            <td>W</td>
        </tr>
        <tr>
            <td>mijav</td>
            <td>X</td>
        </tr>
        <tr>
            <td>miawj</td>
            <td>Y</td>
        </tr>
        <tr>
            <td>cat</td>
            <td>Z</td>
        </tr>
        <tr>
            <td>qwe</td>
            <td>1</td>
        </tr>
        <tr>
            <td>asd</td>
            <td>2</td>
        </tr>
        <tr>
            <td>zxc</td>
            <td>3</td>
        </tr>
        <tr>
            <td>rty</td>
            <td>4</td>
        </tr>
        <tr>
          <td>fgh</td>
          <td>5</td>
      </tr>
      <tr>
          <td>vbn</td>
          <td>6</td>
      </tr>
      <tr>
          <td>uio</td>
          <td>7</td>
      </tr>
      <tr>
          <td>jkl</td>
          <td>8</td>
      </tr>
      <tr>
          <td>ert</td>
          <td>9</td>
      </tr>
      <tr>
          <td>lkj</td>
          <td>0</td>
      </tr>
    
      <tr>
          <td>MUWAA</td>
          <td>a</td>
      </tr>
      <tr>
          <td>MEO</td>
          <td>b</td>
      </tr>
      <tr>
          <td>MEONG</td>
          <td>c</td>
      </tr>
      <tr>
          <td>MIYU</td>
          <td>d</td>
      </tr>
      <tr>
          <td>MEOW</td>
          <td>e</td>
      </tr>
      <tr>
          <td>MIAAU</td>
          <td>f</td>
      </tr>
      <tr>
          <td>MIAOU</td>
          <td>g</td>
      </tr>
      <tr>
          <td>MIAU</td>
          <td>h</td>
      </tr>
      <tr>
          <td>MIAUW</td>
          <td>i</td>
      </tr>
      <tr>
          <td>NGIAO1</td>
          <td>j</td>
      </tr>
      <tr>
          <td>MIU1</td>
          <td>k</td>
      </tr>
      <tr>
          <td>MIAO</td>
          <td>l</td>
      </tr>
      <tr>
          <td>MIAOW</td>
          <td>m</td>
      </tr>
      <tr>
          <td>MIYAV</td>
          <td>n</td>
      </tr>
      <tr>
          <td>MIAV</td>
          <td>o</td>
      </tr>
      <tr>
          <td>NGIYAW</td>
          <td>p</td>
      </tr>
      <tr>
          <td>MIYAU</td>
          <td>q</td>
      </tr>
      <tr>
          <td>MEOGRE</td>
          <td>r</td>
      </tr>
      <tr>
          <td>MJAU</td>
          <td>s</td>
      </tr>
      <tr>
          <td>NIAOU</td>
          <td>t</td>
      </tr>
      <tr>
          <td>MYAU</td>
          <td>u</td>
      </tr>
      <tr>
          <td>MJAUU</td>
          <td>v</td>
      </tr>
      <tr>
          <td>NGIAU</td>
          <td>w</td>
      </tr>
      <tr>
        <td>MIJAV</td>
        <td>x</td>
    </tr>
    <tr>
        <td>MIAWJ</td>
        <td>y</td>
    </tr>
    <tr>
        <td>CAT</td>
        <td>z</td>
    </tr>
    </tbody>
    </table>
    </div></div>