
<div class="img">

    <nav class="navbar bg-dark" style="display: block; margin: auto;">
        <div style="text-align: center; font-size: 2em; outline: none;">
            <button class="btn btn-link d-flex" routerLink="/start" style="float: left;">
                <h3 class="rgb-effect">Catcrypt</h3> <span class="glyphicon glyphicon-home bot rgb-effect"></span>
              </button>
          

      
          <button (click)="showsend()" class="btn  nor" *ngIf="!activesend || activeget ">
        <h3>  Cat Sender POV</h3>  
          </button>
          <button (click)="showget()" class="btn  nor" *ngIf="!activeget || activesend ">
            <h3 >    Cat Receiver POV</h3>
          </button>
 
        </div>
      </nav>

<div class="container"  *ngIf="this.activesend == true">

    <section class="chatbox"#scrollframe >
              <button class="btn-primary" >ChatRoom Sender POV</button>
        <section class="chat-window " style="  background-image: url(https://media.tenor.com/bCfpwMjfAi0AAAAC/cat-typing.gif);  ">
  
          <div>

          <article class="msg-container msg-self" id="msg-0">
            <div class="msg-box">
              <div class="flr">
                <div class="messages">
                    <p class="msg" id="msg-1" style="text-align: justify;">
                    
                        <b>You send:</b>
                        {{fromdatabase}} <br>
                   
                      </p>
    <br>
                  <p class="msg" id="msg-1" style="text-align: justify;">
                    
            
                    <b>They Receive:</b>
                    {{decoded}}
                  </p>

                </div>
                <span class="timestamp"><span class="username text-white" style="font-weight: bold;">You&bull;{{date}}  </span>
              


              </span>
              </div>
              <img class="user-img" id="user-0" src="https://cdn-icons-png.flaticon.com/256/2053/2053603.png" />
            </div>
          </article>
        </div>
      </section>
      <form class="chat-input" #sending="ngForm" (ngSubmit)="sendchat()"  >
      
        <input type="text"  placeholder="Type a message" name="chat" id="chat" [(ngModel)]="chat" >
        <button type="submit">
                    
                        <img src="https://cdn-icons-png.flaticon.com/256/3682/3682321.png"style="width:24px;height:24px">
                      
                  </button>
      </form>
    </section>


    <details  style="color: white;font-size: 1.5em;" >
        <summary>Notes</summary>
        <h3> You can send a message in a regular manner, but if you want to conceal the message, you must use the Catcrypt. </h3>
     </details>
     <details  style="color: white;font-size: 1.5em;">
        <summary>Help</summary>
        <h3> 
        Meowell meowell Are you too lazy to type? Well, in that case, you can simply use this, you<b> LAZY HUMAN. </b></h3>
            <div class="tran">
                say something <input type="text" style="background-color: #40434e; width: 20em;" [(ngModel)]="inputText" (input)="updateTranslation()">
                tranlated to <input type="text" style="background-color: #40434e ; width: 20em;"[value]="cattralated" readonly><button class="btn btn-primary copy" (click)="copyInputValue()">Copy</button>
            </div>


     </details>

</div>
<div class="container"  *ngIf="this.activeget == true">

  <section class="chatbox"#scrollframe >
            <button class="btn-primary" >ChatRoom Receiver POV</button>
      <section class="chat-window "style="  background-image: url(https://media.tenor.com/415n58OZ9CYAAAAd/cat-reads-reading.gif);  " >

        <div>
        <article class="msg-container msg-remote" id="msg-0">
          <div class="msg-box">
            <img class="user-img" id="user-0" src="https://cdn-icons-png.flaticon.com/256/2053/2053627.png" />
            <div class="flr">
              <div class="messages">
                <p class="msg" id="msg-0">
                 {{decoded}}
                </p>
              
          
              </div>
              <span class="timestamp"><span class="username text-white" style="font-weight: bold;">sender&bull;{{date}}  </span>
            

            </span>
            </div>
          </div>
        </article>

      </div>
    </section>

  </section>
</div>
<div class="container"  *ngIf="this.activehacker == true">

  <section class="chatbox"#scrollframe >
            <button class="btn-primary" >ChatRoom Hacker POV</button>
      <section class="chat-window "style="background-image: url(https://media.tenor.com/xTvpjzTNfZMAAAAM/despairiounge-cat.gif);  " >
      
        <div>
        <article class="msg-container msg-remote" id="msg-0">
          <div class="msg-box">
            <img class="user-img" id="user-0" src="https://cdn-icons-png.flaticon.com/256/10527/10527707.png" />
            <div class="flr">
              <div class="messages">
                <p class="msg" id="msg-0">
                 {{fromdatabase}}
                </p>
              
          
              </div>
              <span class="timestamp"><span class="username text-white" style="font-weight: bold;">sender&bull;{{date}}  </span>
            

            </span>
            </div>
          </div>
        </article>

      </div>
    </section>

  </section>

</div>


<div class="container " style="font-size: 20px;" *ngIf="this.table == true">
<div class="table-container">
  <table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Code</th>
            <th>Letter</th>
        </tr>
    </thead>
  <tbody>
    <tr>
      <td>puss</td>
      <td>space</td>
  </tr>
  <tr>
    <td>*</td>
    <td>next word</td>
</tr>
    <tr>
        <td>muwaa</td>
        <td>A</td>
    </tr>
    <tr>
        <td>meo</td>
        <td>B</td>
    </tr>
    <tr>
        <td>meong</td>
        <td>C</td>
    </tr>
    <tr>
        <td>miyu</td>
        <td>D</td>
    </tr>
    <tr>
        <td>meow</td>
        <td>E</td>
    </tr>
    <tr>
        <td>miaau</td>
        <td>F</td>
    </tr>
    <tr>
        <td>miaou</td>
        <td>G</td>
    </tr>
    <tr>
        <td>miau</td>
        <td>H</td>
    </tr>
    <tr>
        <td>miauw</td>
        <td>I</td>
    </tr>
    <tr>
        <td>ngiao1</td>
        <td>J</td>
    </tr>
    <tr>
        <td>miu1</td>
        <td>K</td>
    </tr>
    <tr>
        <td>miao</td>
        <td>L</td>
    </tr>
    <tr>
        <td>miaow</td>
        <td>M</td>
    </tr>
    <tr>
        <td>miyav</td>
        <td>N</td>
    </tr>
    <tr>
        <td>miav</td>
        <td>O</td>
    </tr>
    <tr>
        <td>ngiyaw</td>
        <td>P</td>
    </tr>
    <tr>
        <td>miyau</td>
        <td>Q</td>
    </tr>
    <tr>
        <td>meogre</td>
        <td>R</td>
    </tr>
    <tr>
        <td>mjau</td>
        <td>S</td>
    </tr>
    <tr>
        <td>niaou</td>
        <td>T</td>
    </tr>
    <tr>
        <td>myau</td>
        <td>U</td>
    </tr>
    <tr>
        <td>mjauu</td>
        <td>V</td>
    </tr>
    <tr>
        <td>ngiau</td>
        <td>W</td>
    </tr>
    <tr>
        <td>mijav</td>
        <td>X</td>
    </tr>
    <tr>
        <td>miawj</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>cat</td>
        <td>Z</td>
    </tr>
    <tr>
        <td>qwe</td>
        <td>1</td>
    </tr>
    <tr>
        <td>asd</td>
        <td>2</td>
    </tr>
    <tr>
        <td>zxc</td>
        <td>3</td>
    </tr>
    <tr>
        <td>rty</td>
        <td>4</td>
    </tr>
    <tr>
      <td>fgh</td>
      <td>5</td>
  </tr>
  <tr>
      <td>vbn</td>
      <td>6</td>
  </tr>
  <tr>
      <td>uio</td>
      <td>7</td>
  </tr>
  <tr>
      <td>jkl</td>
      <td>8</td>
  </tr>
  <tr>
      <td>ert</td>
      <td>9</td>
  </tr>
  <tr>
      <td>lkj</td>
      <td>0</td>
  </tr>

  <tr>
      <td>MUWAA</td>
      <td>a</td>
  </tr>
  <tr>
      <td>MEO</td>
      <td>b</td>
  </tr>
  <tr>
      <td>MEONG</td>
      <td>c</td>
  </tr>
  <tr>
      <td>MIYU</td>
      <td>d</td>
  </tr>
  <tr>
      <td>MEOW</td>
      <td>e</td>
  </tr>
  <tr>
      <td>MIAAU</td>
      <td>f</td>
  </tr>
  <tr>
      <td>MIAOU</td>
      <td>g</td>
  </tr>
  <tr>
      <td>MIAU</td>
      <td>h</td>
  </tr>
  <tr>
      <td>MIAUW</td>
      <td>i</td>
  </tr>
  <tr>
      <td>NGIAO1</td>
      <td>j</td>
  </tr>
  <tr>
      <td>MIU1</td>
      <td>k</td>
  </tr>
  <tr>
      <td>MIAO</td>
      <td>l</td>
  </tr>
  <tr>
      <td>MIAOW</td>
      <td>m</td>
  </tr>
  <tr>
      <td>MIYAV</td>
      <td>n</td>
  </tr>
  <tr>
      <td>MIAV</td>
      <td>o</td>
  </tr>
  <tr>
      <td>NGIYAW</td>
      <td>p</td>
  </tr>
  <tr>
      <td>MIYAU</td>
      <td>q</td>
  </tr>
  <tr>
      <td>MEOGRE</td>
      <td>r</td>
  </tr>
  <tr>
      <td>MJAU</td>
      <td>s</td>
  </tr>
  <tr>
      <td>NIAOU</td>
      <td>t</td>
  </tr>
  <tr>
      <td>MYAU</td>
      <td>u</td>
  </tr>
  <tr>
      <td>MJAUU</td>
      <td>v</td>
  </tr>
  <tr>
      <td>NGIAU</td>
      <td>w</td>
  </tr>
  <tr>
    <td>MIJAV</td>
    <td>x</td>
</tr>
<tr>
    <td>MIAWJ</td>
    <td>y</td>
</tr>
<tr>
    <td>CAT</td>
    <td>z</td>
</tr>
</tbody>
</table>
</div>





<details style="color: white;"><p>please</p> </details>
</div>




</div>