<div class="img"><nav class="navbar  bg-tranparent" style="display: block;margin: auto;">

     
      
<div style="text-align: center;font-size: 2em;outline: none;">
 <button  class="glyphicon glyphicon-home bot"  routerLink="/start"></button>
          <button  (click)="showsend()" class="btn btn-dark  nor" *ngIf="this.activesend != true">Cat Sender POV</button>
          <button  (click)="showsend()" class="btn btn-light nor " *ngIf="this.activesend == true">Cat Sender POV</button>
          <button  (click)="showget()" class="btn btn-dark nor" *ngIf="this.activeget != true">Cat Receiver POV</button>
          <button  (click)="showget()" class="btn btn-light  nor" *ngIf="this.activeget == true">Cat Receiver POV</button>
          <button  (click)="showhacker()"class="btn btn-dark nor" *ngIf="this.activehacker != true">Cat Hacker POV</button>
          <button  (click)="showhacker()"class="btn btn-light nor " *ngIf="this.activehacker == true">Cat Hacker POV</button>
          <button  (click)="showtable()"class="btn btn-dark nor" *ngIf="this.table != true">Show Alpabit table</button>
          <button  (click)="showtable()"class="btn btn-light nor " *ngIf="this.table == true">Show Alpabit table</button>
        
 </div>
</nav>
  <h2 style="text-align: center;color: white;background-color: black;">please use the Catcrypt Alpabit to hide your message</h2>
<div class="container"  *ngIf="this.activesend == true">

    <section class="chatbox"#scrollframe >
              <button class="btn-primary" >ChatRoom Sender POV</button>
        <section class="chat-window " style="  background-image: url(https://media.tenor.com/bCfpwMjfAi0AAAAC/cat-typing.gif);  ">
  
          <div>

          <article class="msg-container msg-self" id="msg-0">
            <div class="msg-box">
              <div class="flr">
                <div class="messages">
                  <p class="msg" id="msg-1">
                    {{decoded}}
                  </p>

                </div>
                <span class="timestamp"><span class="username text-white" style="font-weight: bold;">You&bull;{{date}}  </span>
              


              </span>
              </div>
              <img class="user-img" id="user-0" src="https://cdn-icons-png.flaticon.com/256/2053/2053603.png" />
            </div>
          </article>
        </div>
      </section>
      <form class="chat-input" #sending="ngForm" (ngSubmit)="sendchat()"  >
      
        <input type="text"  placeholder="Type a message" name="chat" id="chat" [(ngModel)]="chat" >
        <button type="submit">
                      <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,.38)" d="M17,12L12,17V14H8V10H12V7L17,12M21,16.5C21,16.88 20.79,17.21 20.47,17.38L12.57,21.82C12.41,21.94 12.21,22 12,22C11.79,22 11.59,21.94 11.43,21.82L3.53,17.38C3.21,17.21 3,16.88 3,16.5V7.5C3,7.12 3.21,6.79 3.53,6.62L11.43,2.18C11.59,2.06 11.79,2 12,2C12.21,2 12.41,2.06 12.57,2.18L20.47,6.62C20.79,6.79 21,7.12 21,7.5V16.5M12,4.15L5,8.09V15.91L12,19.85L19,15.91V8.09L12,4.15Z" /></svg>
                  </button>
      </form>
    </section>
</div>
<div class="container"  *ngIf="this.activeget == true">

  <section class="chatbox"#scrollframe >
            <button class="btn-primary" >ChatRoom Receiver POV</button>
      <section class="chat-window "style="  background-image: url(https://media.tenor.com/415n58OZ9CYAAAAd/cat-reads-reading.gif);  " >

        <div>
        <article class="msg-container msg-remote" id="msg-0">
          <div class="msg-box">
            <img class="user-img" id="user-0" src="https://cdn-icons-png.flaticon.com/256/2053/2053627.png" />
            <div class="flr">
              <div class="messages">
                <p class="msg" id="msg-0">
                 {{decoded}}
                </p>
              
          
              </div>
              <span class="timestamp"><span class="username text-white" style="font-weight: bold;">sender&bull;{{date}}  </span>
            

            </span>
            </div>
          </div>
        </article>

      </div>
    </section>

  </section>
</div>
<div class="container"  *ngIf="this.activehacker == true">

  <section class="chatbox"#scrollframe >
            <button class="btn-primary" >ChatRoom Hacker POV</button>
      <section class="chat-window "style="background-image: url(https://media.tenor.com/xTvpjzTNfZMAAAAM/despairiounge-cat.gif);  " >
      
        <div>
        <article class="msg-container msg-remote" id="msg-0">
          <div class="msg-box">
            <img class="user-img" id="user-0" src="https://cdn-icons-png.flaticon.com/256/10527/10527707.png" />
            <div class="flr">
              <div class="messages">
                <p class="msg" id="msg-0">
                 {{fromdatabase}}
                </p>
              
          
              </div>
              <span class="timestamp"><span class="username text-white" style="font-weight: bold;">sender&bull;{{date}}  </span>
            

            </span>
            </div>
          </div>
        </article>

      </div>
    </section>

  </section>

</div>


<div class="container " style="font-size: 20px;" *ngIf="this.table == true">
<div class="table-container">
  <table class="table table-bordered table-dark">
    <thead>
        <tr>
            <th>Code</th>
            <th>Letter</th>
        </tr>
    </thead>
  <tbody>
    <tr>
      <td>puss</td>
      <td>space</td>
  </tr>
  <tr>
    <td>*</td>
    <td>next word</td>
</tr>
    <tr>
        <td>muwaa</td>
        <td>A</td>
    </tr>
    <tr>
        <td>meo</td>
        <td>B</td>
    </tr>
    <tr>
        <td>meong</td>
        <td>C</td>
    </tr>
    <tr>
        <td>miyu</td>
        <td>D</td>
    </tr>
    <tr>
        <td>meow</td>
        <td>E</td>
    </tr>
    <tr>
        <td>miaau</td>
        <td>F</td>
    </tr>
    <tr>
        <td>miaou</td>
        <td>G</td>
    </tr>
    <tr>
        <td>miau</td>
        <td>H</td>
    </tr>
    <tr>
        <td>miauw</td>
        <td>I</td>
    </tr>
    <tr>
        <td>ngiao1</td>
        <td>J</td>
    </tr>
    <tr>
        <td>miu1</td>
        <td>K</td>
    </tr>
    <tr>
        <td>miao</td>
        <td>L</td>
    </tr>
    <tr>
        <td>miaow</td>
        <td>M</td>
    </tr>
    <tr>
        <td>miyav</td>
        <td>N</td>
    </tr>
    <tr>
        <td>miav</td>
        <td>O</td>
    </tr>
    <tr>
        <td>ngiyaw</td>
        <td>P</td>
    </tr>
    <tr>
        <td>miyau</td>
        <td>Q</td>
    </tr>
    <tr>
        <td>meogre</td>
        <td>R</td>
    </tr>
    <tr>
        <td>mjau</td>
        <td>S</td>
    </tr>
    <tr>
        <td>niaou</td>
        <td>T</td>
    </tr>
    <tr>
        <td>myau</td>
        <td>U</td>
    </tr>
    <tr>
        <td>mjauu</td>
        <td>V</td>
    </tr>
    <tr>
        <td>ngiau</td>
        <td>W</td>
    </tr>
    <tr>
        <td>mijav</td>
        <td>X</td>
    </tr>
    <tr>
        <td>miawj</td>
        <td>Y</td>
    </tr>
    <tr>
        <td>cat</td>
        <td>Z</td>
    </tr>
    <tr>
        <td>qwe</td>
        <td>1</td>
    </tr>
    <tr>
        <td>asd</td>
        <td>2</td>
    </tr>
    <tr>
        <td>zxc</td>
        <td>3</td>
    </tr>
    <tr>
        <td>rty</td>
        <td>4</td>
    </tr>
    <tr>
      <td>fgh</td>
      <td>5</td>
  </tr>
  <tr>
      <td>vbn</td>
      <td>6</td>
  </tr>
  <tr>
      <td>uio</td>
      <td>7</td>
  </tr>
  <tr>
      <td>jkl</td>
      <td>8</td>
  </tr>
  <tr>
      <td>ert</td>
      <td>9</td>
  </tr>
  <tr>
      <td>lkj</td>
      <td>0</td>
  </tr>

  <tr>
      <td>MUWAA</td>
      <td>a</td>
  </tr>
  <tr>
      <td>MEO</td>
      <td>b</td>
  </tr>
  <tr>
      <td>MEONG</td>
      <td>c</td>
  </tr>
  <tr>
      <td>MIYU</td>
      <td>d</td>
  </tr>
  <tr>
      <td>MEOW</td>
      <td>e</td>
  </tr>
  <tr>
      <td>MIAAU</td>
      <td>f</td>
  </tr>
  <tr>
      <td>MIAOU</td>
      <td>g</td>
  </tr>
  <tr>
      <td>MIAU</td>
      <td>h</td>
  </tr>
  <tr>
      <td>MIAUW</td>
      <td>i</td>
  </tr>
  <tr>
      <td>NGIAO1</td>
      <td>j</td>
  </tr>
  <tr>
      <td>MIU1</td>
      <td>k</td>
  </tr>
  <tr>
      <td>MIAO</td>
      <td>l</td>
  </tr>
  <tr>
      <td>MIAOW</td>
      <td>m</td>
  </tr>
  <tr>
      <td>MIYAV</td>
      <td>n</td>
  </tr>
  <tr>
      <td>MIAV</td>
      <td>o</td>
  </tr>
  <tr>
      <td>NGIYAW</td>
      <td>p</td>
  </tr>
  <tr>
      <td>MIYAU</td>
      <td>q</td>
  </tr>
  <tr>
      <td>MEOGRE</td>
      <td>r</td>
  </tr>
  <tr>
      <td>MJAU</td>
      <td>s</td>
  </tr>
  <tr>
      <td>NIAOU</td>
      <td>t</td>
  </tr>
  <tr>
      <td>MYAU</td>
      <td>u</td>
  </tr>
  <tr>
      <td>MJAUU</td>
      <td>v</td>
  </tr>
  <tr>
      <td>NGIAU</td>
      <td>w</td>
  </tr>
  <tr>
    <td>MIJAV</td>
    <td>x</td>
</tr>
<tr>
    <td>MIAWJ</td>
    <td>y</td>
</tr>
<tr>
    <td>CAT</td>
    <td>z</td>
</tr>
</tbody>
</table>
</div></div></div>